Package: com.karimo299.limitedtimetweak
Name: LimitedTimeTweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
